<?xml version='1.0' encoding='utf-8'?>
<widget id="de.oproj.vokabapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>VokabApp</name>
    <description>VokabApp, eine mobile Anwendung um offline Vokabeln zu lernen</description>

    <author href="https://tsmr.eu">Tobias Müller</author>

    <content src="index.html" />

    <allow-navigation href="https://oproj.de/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <access origin="*" />
    
    <icon src="assets/img/logo.png" width="57" height="57" density="mdpi" />

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="BackgroundColor" value="0xff0000ff"/>
    <preference name="Orientation" value="portrait" />
    <preference name="ShowTitle" value="false"/>

    <preference name="SplashMaintainAspectRatio" value="true" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false"/>

    <preference name="SplashScreenDelay" value="0"/>
    <preference name="FadeSplashScreen" value="false"/>
    

</widget>
